$itemMargin: rem(15px);

.menu {
	flex: 1;

	@include tablet {
		display: none;
	}
}


.menu__list {
   display: flex;
   align-items: center;
}

.menu__item {
   display: flex;
   align-items: center;
   margin-right: $itemMargin;

   &:before {
      content: "";
      display: block;
      width: rem(4px);
      height: rem(4px);
      border-radius: 50%;
      background: currentColor;
   }

   &:first-child {
      &:before {
         display: none;
      }
   }

}

.menu__link {
   text-decoration: none;
   text-transform: uppercase;
   margin-left: $itemMargin;
   font-size: rem(13px);
   font-weight: 500;
}