.btn {
   background: $red;
   text-decoration: none;
   text-transform: uppercase;
   border-radius: 5px;
   font-size: 13px;
   font-weight: 500;
   display: inline-flex;
	padding: 10px 15px;
	
	
}

.btn__clear {
   font-weight: 300;
   text-decoration: none;
	padding: 7px 15px 1px;
	
	&:hover {
		background: $red;
		border-radius: 5px;
		font-weight: 500;
	}
}