.carte {
   position: relative;
   background: url('../img/carte/carte-bg.png') center center/cover no-repeat;
	justify-content: flex-start;
}

.carte__content {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
	bottom: 0;
}

.carte__container {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;

}

.carte__list {
	display: flex;
	height: 100%;
	justify-content: flex-end;
}

.carte__item {
	display: flex;
	justify-content: flex-end;
	
	&--activ {

		width: 33.3%;
		.carte__text {
			width: 100%;
			padding: rem(40px) 10%;
		}
	}
}

.carte__title {
   @include gagalin;
   font-size: rem(40px);
   letter-spacing: rem(1px);
   color: #fff;
   writing-mode: vertical-lr;
   transform: rotate(180deg);

   &--meat {
      background: url('./../img/carte/meat.png') center center/cover no-repeat;
   }

   &--vegan {
      background: url('./../img/carte/vegan.png') center center/cover no-repeat;
   }

   &--diet {
      background: url('./../img/carte/diet.png') center center/cover no-repeat;
   }

}

.carte__title--mask--black {
   width: 100%;
   background: rgba(0, 0, 0, .5);
   display: flex;
   justify-content: center;
	align-items: center;
	padding: rem(20px) 2%;

}

.carte__text {
   @include ubuntu;
   font-size: rem(14px);
   color: #fff;
   background: rgba(0, 0, 0, .5);
   padding: 0;
	width: 0;
	overflow: hidden;
}