.footer {
	background: url('../img/contacts/footer-bg.png') center center/cover no-repeat;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: auto;
}

.footer__container {
	width: 95%;
	// height: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	padding: rem(10px);

	@include phones {
		flex-direction: column;
		justify-content: center;
		}
}

.footer__contacts {
	width: 50%;
	text-align: left;

	@include tablet {
		width: 90%;
	}

	@include phones {
		text-align: center;
	}
}

.footer__contacts-address {
	font-size: rem(14px);
	margin-bottom: rem(10px);

	@include phones {
		font-size: rem(16px);
		margin-bottom: rem(15px);
	}
}

.footer__contacts-phone {
	@include ubuntu;
	font-weight: 700;
	color: $orange;
	font-size: rem(14px);
	text-decoration: none;
	line-height: 1;

	@include phones {
		font-size: rem(16px);
	}
}

.phone-icon {
	width: rem(11px);
	height: rem(11px);
	margin-right: rem(5px);
}

.footer__social {
	width: 50%;
	// height: 100%;
	text-align: right;

	@include phones {
		margin: 2% 0;
	}

}