.hero {
   background: url('../img/hero/hero-bg.png') center center / cover no-repeat;
   color: #fff;
	padding-top: rem(12px);
	position: relative;
}

.hero__container {
   display: flex;
   flex-direction: column;
	height: 100%;
}

.hero__content {
   display: flex;
   align-items: center;
	flex: .8;
	
	@include tablet {
		flex-direction: column;
	}
}

.hero__img {
	width: 70%;
	position: relative;

	@include phones {
		width: 80%;
	}
}

.hero__desc {
   font-size: rem(65px);
   @include lifehack();
	line-height: 1;
	
	@include phones {
		font-size: rem(54px);
	}
}

.hero__text {
   height: 50%;
	padding-top: rem(96px);
	
	@include tablet {
		padding: rem(30px) 6% 0;
		text-align: center;
	}

	@include phones {
		padding-top: rem(55px);
	}
}