.hero {
   background: url('../img/hero/hero-bg.png') center center / cover no-repeat;
   color: #fff;
	padding-top: rem(12px);
	position: relative;
}

.hero__container {
   display: flex;
   flex-direction: column;
	height: 100%;
	align-items: center;
}

.hero__content {
   display: flex;
   align-items: center;
   flex: .8;
}

.hero__img {
	width: 70%;
	position: relative;
}

.hero__desc {
   font-size: rem(65px);
   @include lifehack();
   line-height: 1;
}

.hero__text {
   height: 50%;
   padding-top: rem(96px);
}

// .drops-icon {
// 	position: absolute;
// 	top: rem(65px);
// 	left: rem(-35px);
// 	width: rem(450.527px);
// 	height: rem(241.369px);
// }